

<h2>Add a new Item Here!</h2>

<form action="../Shop/SaveNewItem" method="post">
    <input type="text" name="Name" placeholder="Name" />
    <input type="text" name="Description" placeholder="Description" />
    <input type="number" name="Quantity" placeholder="Quantity" />
    <input type="text" name="Price" placeholder="Price" />

    <input type="submit" value="Add new Item!" class="btn-success" />
</form>

<p class="danger">@ViewBag.ErrorMessage</p>

