

<h2>Welcome to GC Coffee<br />Shop! @Html.ActionLink("Register", "Registration", "Home")</h2>

<a href="../Shop/Index" class="btn-warning">Go to Item List</a>

<style>
    h2 {
        text-align: center;
        background-color: #518080;
        margin-top: 0%;
        margin-left: 0%;
        margin-right: 0%;
        color: #222222;
        padding: 10px;
    }
</style>